[submodule "microservices/ordering/algashop-ordering"]
	path = microservices/ordering/algashop-ordering
	url = https://github.com/ojonathanpablo/algashop-ordering.git
[submodule "docs/algashop-docs"]
	path = docs/algashop-docs
	url = https://github.com/ojonathanpablo/algashop-docs.git
