[submodule "docs/algashop-docs"]
	path = docs/algashop-docs
	url = https://github.com/ojonathanpablo/algashop-docs.git
[submodule "microservices/ordering/ordering"]
	path = microservices/ordering/ordering
	url = https://github.com/ojonathanpablo/ordering.git
